/* @font-face {
  font-family: 'Betm Rounded';
  src: url('./static/fonts/Typesketchbook-BetmRounded-Regular.otf') format('otf'),
  font-weight: normal;
  font-style: normal;
} */
/* @import url('https://www.gfxfile.com/3vc/betm.7z'); */

@import url("//hello.myfonts.net/count/367f56");
@import url("//hello.myfonts.net/count/367f61");
@import url("//hello.myfonts.net/count/367fa1");


@font-face {font-family: 'BetmRounded-ExtraBlack';src: url('./fonts/MyFontsWebfontsKit/webfonts/367FA1_0_0.eot');src: url('./fonts/MyFontsWebfontsKit/webfonts/367FA1_0_0.eot?#iefix') format('embedded-opentype'),url('./fonts/MyFontsWebfontsKit/webfonts/367FA1_0_0.woff2') format('woff2'),url('./fonts/MyFontsWebfontsKit/webfonts/367FA1_0_0.woff') format('woff'),url('./fonts/MyFontsWebfontsKit/webfonts/367FA1_0_0.ttf') format('truetype');}

@font-face {font-family: 'Gilroy-ExtraBold';src: url('./fonts/MyFontsWebfontsKit/webfonts/367F56_0_0.eot');src: url('./fonts/MyFontsWebfontsKit/webfonts/367F56_0_0.eot?#iefix') format('embedded-opentype'),url('./fonts/MyFontsWebfontsKit/webfonts/367F56_0_0.woff2') format('woff2'),url('./fonts/MyFontsWebfontsKit/webfonts/367F56_0_0.woff') format('woff'),url('./fonts/MyFontsWebfontsKit/webfonts/367F56_0_0.ttf') format('truetype');}

@font-face {font-family: 'BetmRounded-SemiLight';src: url('./fonts/MyFontsWebfontsKit/webfonts/367F61_0_0.eot');src: url('./fonts/MyFontsWebfontsKit/webfonts/367F61_0_0.eot?#iefix') format('embedded-opentype'),url('./fonts/MyFontsWebfontsKit/webfonts/367F61_0_0.woff2') format('woff2'),url('./fonts/MyFontsWebfontsKit/webfonts/367F61_0_0.woff') format('woff'),url('./fonts/MyFontsWebfontsKit/webfonts/367F61_0_0.ttf') format('truetype');}

@font-face {font-family: 'BetmRounded-Bold';src: url('./fonts/MyFontsWebfontsKit/webfonts/367F61_1_0.eot');src: url('./fonts/MyFontsWebfontsKit/webfonts/367F61_1_0.eot?#iefix') format('embedded-opentype'),url('./fonts/MyFontsWebfontsKit/webfonts/367F61_1_0.woff2') format('woff2'),url('./fonts/MyFontsWebfontsKit/webfonts/367F61_1_0.woff') format('woff'),url('./fonts/MyFontsWebfontsKit/webfonts/367F61_1_0.ttf') format('truetype');}



body {
  -webkit-text-size-adjust: 100%;
  font-family: 'BetmRounded-SemiLight';
  font-weight: 300;
  color: #bc2131;
  display: flex;
  min-height: 97vh;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  border: 0;
  height: 1px;
  background-color: white;
  /* background-image: linear-gradient(to right, #ccc, #333, #ccc); */
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #2d2d2d;
  z-index: 77777777777777777777777;
}

.overlaygroup {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay img {
  width: 33%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay h3 {
  position: absolute;
  /* margin: auto; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.program img {
  width: 90vw;
}

.loggedin {
  text-align: center;
  color: white;
  border-bottom: white solid 0.1px;
  background: rgba(0, 0, 0, 0.65);
  padding: .2rem;
}

.login, .markdown {
  margin: 2rem;
}

.markdown img {
  max-width: 90%;
}

.calendar {
  width: 90%;
  height: 37rem;
}

.spacer {
  margin-top: 8rem;
}

/* current page sub menu items */
.sublinks {
  position: absolute;
  background: white;
  padding: 1rem;
  margin-top: -0.6rem;
  list-style: none;
  width: 200px;
}

.imgtitle {
  /* position: absolute;
  margin-top: -26%; */
  margin-left: 1rem;
}

.imgtitle h1 {
  font-family: 'BetmRounded-ExtraBlack';
  /* text-shadow: 0 0 0.1px white; */
  color: #af1c07;
}

.imgtitle a {
  display: flex;

}

.smaller {
  font-size: smaller;
}

.topimg_placeholder {
  height: 5rem;
}

.hometopimg {
  max-width: 90%;
}

.topimg {
  width: 100vw;
  z-index: -9999;
}

.tri {
  width: 100vw;
  overflow: hidden;
  margin-top: -0.4rem;
  display: inline-block;
}
.tri img {
  max-width: 100%;
}

.tricontent {
  width: 100vw;
  margin: -2px;
  /* display: initial; */
}

.tri_img {
  /* height: -webkit-fill-available; */
}

.tricontent div {
  margin: 2rem;
}

.brand {
  display: flex;
  vertical-align: middle;
  align-items: center;
  width: 100vw;
  /* height: 6rem; */
  border-bottom: white solid 0.1px;
  background: rgba(255, 255, 255, 0.9);
  line-height: 1.3rem;
}

.brandtitle {
  margin-top: 0.7rem;
}

.brand h2 {
  display: inline-block;
  font-family: 'Gilroy-ExtraBold';
  flex: 0;
  letter-spacing: 0.2rem;
  color: #2d595a;
  font-size: xx-large;
  margin-bottom: 0px;
  margin-top: 0;
}

.brand h3 {
  margin-top: 0;
  margin-bottom: 0rem;
  font-family: 'BetmRounded-Bold';
  color: grey;
  letter-spacing: 0.075rem;
}

.logo {
  flex: 0.4;
  vertical-align: middle;
  width: 4rem;
  z-index: 9999999;
}

.burger img {
  width: 3rem;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  margin-top: -1.5rem;
}

.gallery {
    list-style-type: none;
    padding: 0;
    width: 100vw;
    margin-top: 5rem;
    z-index: 999;
}

.gallery li img {
    display: block;
    margin: auto;
    width: 100vw;
    background-repeat: no-repeat;
}

/* .mySlides {
    display: none;
} */

.hidden {
    display: none;
}

.nav-down {
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.nav-up {
  top: -86px;
}

#main-nav ul {
  display: block;
  width: 10rem;
  float: right;
  list-style-type: none;
  text-align: right;
  font-weight: bolder;
  background-image: linear-gradient(to right, rgba(241,241,241,0.1), rgba(221, 221, 221, 0.74), #f1f1f1, #f1f1f1);
  text-shadow: 0 0 1px black;
  font-size: 16px;
  margin: auto;
  padding: 4%;
  padding-right: 1.5rem;
  padding-top: .85rem;
  padding-bottom: 1rem;
  list-style: none;
  flex: none;
}
.arrow-down {
  margin-top: .7rem;
  margin-left: .5rem;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid white;
}

#service {
  display: inline;
}

.dropdown {
  /* float: left; */
  overflow: hidden;
  /* position: absolute; */
  /* text-align: left; */
}

#dropdown-content {
  width: fit-content;
  height: fit-content;

  position: absolute;
  right: 15vw;
  padding-left: 0.5rem;
  margin-left: -.67rem;
  padding-top: .5rem;
  width: 7rem;
  background-color: #f1f1f1;
  text-align: left;
  color: #81766a;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* z-index: 99999; */
  max-height: 249px;
  overflow-y: : scroll;
  overflow-x: hidden;
}

footer {
  margin-top: 1rem;
  flex: none;
  font-size: x-small;
}

.content {
  flex: 1 0 auto;
}

@media only screen and (min-width: 320px) {
    body {
      -webkit-text-size-adjust: 100%;
    }
    .sublinks {
      /* width: max-content; */
      /* margin-top: -2rem; */
    }

}

@media only screen and (min-width: 400px) {
  .brand h2 {
    /* font-size: x-large; */
  }
  .burger {
    font-size: 62px;
    /* margin-top: 2.5rem; */
  }
  .sublinks {
    /* margin-top: -2rem; */
  }

}

@media only screen and (min-width: 550px) {
  .brand h2 {
    font-size: xx-large;
    flex: 4;
    /* line-height: 1.8rem; */
    padding-top: 0;
  }
  .topimg {
    width: 100vw;
    z-index: -9999;
  }

  .tri {
    width: 100vw;
    overflow: hidden;
    margin-top: -0.4rem;
    display: inline-flex;
  }
  .tri img {
    /* max-width: 33.3%; */
  }

  .tricontent {
    width: 50vw;
    margin: -2px;
  }

  .second_tri_info {
    width: 0;
  }

  .tri_img {
    /* height: -webkit-fill-available; */
  }

  .tricontent div {
    margin: 2rem;
  }
  .sublinks {
    /* margin-top: -5rem; */
  }

}

@media only screen and (min-width: 739px) {
  .burger {
    margin-right: 2rem;
  }
  .brand h2 {
    font-size: -webkit-xxx-large;
    /* line-height: 3.7rem; */
    /* padding-top: 0.3rem; */
  }

  .logo {
    width: 5rem;
  }

  .brandtitle {
    margin-top: 1.1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .brand h3 {
    font-size: 27.5px;
  }

  .sublinks {
    /* margin-top: -7.2rem; */
  }
  /* #dropdown-content {
    margin-top: 0.1rem;
    padding-top: 0.2rem;
    margin-right: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: none;
    width: fit-content;
  }
    #main-nav {
        display: inline-block;
        height: .5em;
        float: right;
        width: 100vw;
    }
    #main-nav ul {
        display: inline-block;
        background: none;
        font-size: 20px;
        text-align: center;
        margin-top: -1px;
        padding: 0;
        vertical-align: middle;
        width: 100vw;
        background: white;
        height: 2.5rem;
    }
    #main-nav li {
        display: inline;
        list-style-type: none;
        margin-top: .1rem;
        margin-right: 2%;
    }
    .hidden hr {
        display: none;
    }
    .burger {
     display: none;
    } */
    .dropdown a {
     padding-right: 2rem;
   }
   .dropdown {
     /* position: absolute; */
     text-align: left;
   }

}
