{% extends "base.jinja2" %}

{% block title %}404 Error{% endblock %}

{% block content %}
  <div>
    <h1><span class="font-semi-bold">Northwest Community Church</span> <span class="smaller">Love Boldly</span></h1>
    <p class="lead"><span class="font-semi-bold">404</span> Page Not Found</p>
  </div>
{% endblock content %}
