{% extends "base.jinja2" %}

{% block title %}About Us{% endblock %}

{% block content %}

  {% if topimg %}
    <div>
      <img
        class="{{ topimg.category }}"
        src="{{request.static_url('nwcc_pyramid:static/')}}{{ topimg.img }}"
        alt="{{ topimg.title }}">
      <div class="imgtitle">
        <h1><a href="" class="dropdown2" onclick="return false;">{{ main.subcategory }}</a></h1>
        {% if submenu %}
          <ul class="sublinks hidden dropdown-content2">
          {% for item in submenu %}
            {% if item.subcategory %}

              <li><a href="{{request.route_url('home')}}{{ item.extra }}">{{ item.subcategory }}</li></a><hr>
            {% endif %}
          {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  {% endif %}
  {% if main %}
      <div class="markdown">{{ main.markdown|safe }}</div>
  {% endif %}
{% endblock content %}
