<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    {% block head %}
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Northwest Community Church We Love Boldly." />
      <meta name="keywords" content="weloveboldly, loveboldly, love, boldly, nwcc, northwestcommunitychurchlakewood, northwest, north, west, community, church, lakewood, food bank wednesday only, ">
      <meta charset="utf-8">

      <link href="{{request.static_url('nwcc_pyramid:static/theme.css')}}" rel="stylesheet">
      <link rel="shortcut icon" href="{{request.static_url('nwcc_pyramid:static/nwcc_logo_color.png')}}" type="image/x-icon">

      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js" integrity="sha384-f1r2UzjsxZ9T4V1f2zBO/evUqSEOpeaUUZcMTz1Up63bl4ruYnFYeM+BxI4NhyI0" crossorigin="anonymous"></script>
      <![endif]-->

      <title>Northwest Community Church - Love Boldly - {% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <header class="header nav-down">
      <div class="brand">
        <a href="{{request.route_url('home')}}"><img
          class="logo"
          src="{{request.static_url('nwcc_pyramid:static/nwcc_logo_color.png')}}"
          alt="Northwest Community Church - Love Boldly"></a>
        <a class="brandtitle" href="{{request.route_url('home')}}"><h2>Northwest</h2><br><h3>COMMUNITY CHURCH</h3></a>
        <div class="burger"><img src="{{request.static_url('nwcc_pyramid:static/burger.png')}}"></div>
      </div>
      {% if auth %}
        <center>
        <div class="loggedin">
          You Are Logged in as Administrator
        </div>
        </center>
      {% endif %}
      {% if main_menu %}

        <nav class="hidden main-nav" id="main-nav">
          <ul id="nav">
            <hr>
            {% for item in main_menu %}
              <li id="{{ item.extra }}"><a href="{{request.route_url('home')}}{{ item.extra }}">{{ item.title }}</a></li><hr>

            {% endfor %}

          </ul>

        </nav>
      {% endif %}


    </header>
    {% block login %}{% endblock %}
    {% block notfound %}{% endblock %}

    <div class="content">
      {% block content %}
      {% endblock %}
    </div>

    <center>
    <footer>
      <div class="row">
        <div>

          <a href="http://www.facebook.com/northwestcommunitychurchlakewood">
            <img src="{{request.static_url('nwcc_pyramid:static/facebookgrey.png')}}"
              alt="Northwest Community Church - Facebook">
          </a>
          <a href="https://twitter.com/weloveboldly">

            <img src="{{request.static_url('nwcc_pyramid:static/twitter.png')}}"
              alt="Northwest Community Church - Twitter">
          </a>
          <a href="https://www.instagram.com/northwestcommunitychurch">

            <img src="{{request.static_url('nwcc_pyramid:static/instagram-grey.png')}}"
              alt="Northwest Community Church - Instagram">
          </a>

        </div>
      </div>

      <div class="row">

        <div class="copyright">
          <a href="https://www.foursquare.org/">
            <img id="foursquare" src="{{request.static_url('nwcc_pyramid:static/foursquare_logo.png')}}"
              alt="Northwest Community Church - Facebook">
          </a>
          <a href="https://www.instagram.com/j.l.c_photo/">
            Photos by: J.L.C. Photography
          </a>
          &emsp; &copy; 2018 Northwest Community Church - Love boldly &emsp;

        </div>

      </div>
    </footer>
    </center>

  </body>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="//oss.maxcdn.com/libs/jquery/1.10.2/jquery.min.js" integrity="sha384-aBL3Lzi6c9LNDGvpHkZrrm3ZVsIwohDD7CDozL0pk8FwCrfmV7H9w8j3L7ikEv6h" crossorigin="anonymous"></script>
  <script src="{{request.static_url('nwcc_pyramid:static/scripts/app.js')}}"></script>
</html>
