<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    {% block head %}
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Northwest Community Church We Love Boldly." />
      <meta name="keywords" content="weloveboldly, loveboldly, love, boldly, nwcc, nwcclakewood, northwestcommunitychurch, northwestcommunitychurchlakewood, northwest, communitychurch, communitychurchlakewood, community, church, lakewood, food bank wednesdays only, foodbank wednesday only">
      <meta charset="utf-8">

      <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src=" https://www.googletagmanager.com/gtag/js?id=UA-121549474-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-121549474-1');
        </script>

      <link href="{{request.static_url('nwcc_pyramid:static/styles/theme.css')}}" rel="stylesheet">
      <link rel="shortcut icon" href="{{request.static_url('nwcc_pyramid:static/images/nwcc_logo_color.png')}}" type="image/x-icon">

      <!-- Load seperate CSS elements and media queries for Internet Explorer -->
        <!--[if IE]>
          <link rel="stylesheet" type="text/css" href="iestyles.css" />
        <![endif]-->

      <title>Northwest Community Church - Love Boldly - {% block title %}{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <header class="header nav-down">
      <div class="brand">
        <a href="{{request.route_url('home')}}"><img
          class="logo"
          src="{{request.static_url('nwcc_pyramid:static/images/logo_large.png')}}"
          alt="Northwest Community Church - Love Boldly"></a>
        <a class="brandtitle" href="{{request.route_url('home')}}"><h2>Northwest</h2><br><h3>COMMUNITY CHURCH</h3></a>
        <div class="burger"><img src="{{request.static_url('nwcc_pyramid:static/images/burger.png')}}"></div>
      </div>
      <center>
        <div id="news" class="loggedin">
          <a href="{{request.route_url('news')}}">Click Here for Updates on COVID-19</a> | <a href="https://www.youtube.com/channel/UCIjgg71raP7NHHfImDUYjVA">Click Here for YouTube Live Stream</a> 
        </div>
      </center>
      {% if auth %}
        <center>
        <div class="loggedin">
          You Are Logged in as Administrator | <a href="{{request.route_url('new')}}">ADD A NEW RECORD</a> | <a href="{{request.route_url('logout')}}">LOGOUT</a>
        </div>
        </center>
      {% endif %}
      {% if main_menu %}

        <nav class="hidden main-nav" id="main-nav">
          <ul id="nav">
            {% for item in main_menu %}
              <li id="{{ item.extra }}">
                {% if auth %}
                  {% if auth_tools %}
                    {% for img in auth_tools[0].img.split(' ') %}
                      <a href="{{request.route_url('home')}}entry/{{ item.id }}/{{ img.split('.')[0] }}-entry">
                        <img id="{{ img.split('.')[0] }}"
                          src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ img }}">
                      </a>
                    {% endfor %}
                  {% endif %}

                {% endif %}

                <a href="{{request.route_url('home')}}{{ item.extra }}">{{ item.title }}</a>
              </li><hr>

            {% endfor %}
            <li>
              <a href="https://squareup.com/store/northwest-community-church" target="_blank">Store</a>
            </li>

          </ul>

        </nav>
      {% endif %}


    </header>
    {% block login %}{% endblock %}
    {% block notfound %}{% endblock %}

    <div class="content">
      {% block content %}
      {% endblock %}
    </div>

    <center>
    <footer>
      <div class="row">
        <div>

          <a href="http://www.facebook.com/northwestcommunitychurchlakewood" target="_blank">
            <img src="{{request.static_url('nwcc_pyramid:static/images/facebookgrey.png')}}"
              alt="Northwest Community Church - Facebook">
          </a>

          <a href="https://www.instagram.com/weloveboldly" target="_blank">

            <img id="outer"
              src="{{request.static_url('nwcc_pyramid:static/images/instagram-grey.png')}}"
              alt="Northwest Community Church - Instagram">
          </a>
          <a href="https://twitter.com/weloveboldly" target="_blank">

            <img id="inner"
              src="{{request.static_url('nwcc_pyramid:static/images/twitter.png')}}"
              alt="Northwest Community Church - Twitter">
          </a>
          <a href="{{request.route_url('message')}}">

            <img id="outer"
              src="{{request.static_url('nwcc_pyramid:static/images/iTunes.png')}}"
              alt="Northwest Community Church - Podcast">
          </a>
          <a href="https://open.spotify.com/user/121873039/playlist/5WIXziEiekojmI2h9er0xw" target="_blank">

            <img src="{{request.static_url('nwcc_pyramid:static/images/spotify.png')}}"
              alt="Northwest Community Church - Spotify">
          </a>

        </div>
      </div>

      <div class="row">

        <div class="copyright">
          <a id="store" href="https://squareup.com/store/northwest-community-church" target="_blank">
            <br>Visit Our Online Store
          </a>
          <br>
          <a href="https://www.foursquare.org/" target="_blank">
            <img id="foursquare" src="{{request.static_url('nwcc_pyramid:static/images/foursquare_logo.png')}}"
              alt="Northwest Community Church - Facebook">
          </a>
          <a href="tel:12532962528">
            <b>
              - click to call -<br>
              NWCC Church Office (253) 926-2528
            </b>
          </a><br><br>
          <a href="https://www.instagram.com/j.l.c_photo/" target="_blank">
            Photos by: J.L.C. Photography
          </a>
          &emsp; Webmaster - Chris Closser &emsp;<br><br>
          &emsp; &copy; 2018 Northwest Community Church - Love boldly &emsp;

        </div>

      </div>
    </footer>
    </center>

  </body>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="{{request.static_url('nwcc_pyramid:static/scripts/app.js')}}"></script>
</html>
