{% extends "base.jinja2" %}

{% block title %}Nursery & Kids Church{% endblock %}

{% block content %}
<div class="topimg_placeholder"></div>
<center><h1>{{ title.title }}</h1></center>

  {% if curriculum %}
    <div class="markdown">
      <center>
        <a href="{{ curriculum.extra }}">
          <img src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ curriculum.img }}" alt="{{ curriculum.title }}"><br>
          {{ curriculum.markdown|safe }}
        </a>
      </center>
    </div><hr style="background: lightgrey; width: 90%">
  {% endif %}

  {% if director %}
    <div class="markdown">
      <center>
        <a href="{{ director.extra }}">
          <img src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ director.img }}" alt="{{ director.title }}"><br>
          {{ director.markdown|safe }}
        </a>
      </center>
    </div><hr style="background: lightgrey; width: 90%">
  {% endif %}

  {% if main %}
    {% for item in main %}
      {% if item.title == 'curriculum' %}

      {% elif item.title == 'menu_place_holder' %}

      {% elif item.extra == 'childrens_director' %}

      {% else %}

        <div class="markdown">
          <img src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ item.img }}" alt="{{ item.title }}">
          <h2>{{ item.title }}</h2>
          {{ item.subcategory }}<br><br>
          {{ item.markdown|safe }}
        </div><hr style="background: lightgrey; width: 90%">
      {% endif %}

    {% endfor %}
  {% endif %}
{% endblock content %}
