{% extends "base.jinja2" %}

{% block title %}Nursery & Kids Church{% endblock %}

{% block content %}
<div class="topimg_placeholder"></div>
<center><h2>{{ title.title }}</h2></center>


  {% if main %}
    {% for item in main %}
      {% if item.title == 'menu_place_holder' %}

      {% else %}
        <div class="markdown">
          <img src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ item.img }}" alt="{{ item.title }}">
          <h2>{{ item.title }}</h2>
          {{ item.subcategory }}<br><br>
          {{ item.markdown|safe }}
        </div><hr style="background: lightgrey; width: 90%">
      {% endif %}

    {% endfor %}
  {% endif %}
{% endblock content %}
