{% extends "base.jinja2" %}

{% block title %}Foobank{% endblock %}

{% block content %}
<div class="topimg_placeholder"></div>
<div class="topimg_placeholder"></div>

<form name="connect_form" method="POST">
  <input type="text" name="" value="">
  <input type="submit" name="" value="">
</form>

{% endblock content %}
