{% extends 'base.jinja2' %}

{% block content %}
<div class="topimg_placeholder"></div>

<section class="markdown">
  <h3 class="entry-title">Edit entry:</h3>
  <form method="POST">
    <p>
      <label for="page">Page: </label>
      <input type="text" name="page" value="{{ entry.page }}">
    </p>
    <p>
      <label for="category">Category: </label>
      <input type="text" name="category" value="{{ entry.category }}">
    </p>
    <p>
      <label for="subcategory">Subcategory: </label>
      <input type="text" name="subcategory" value="{{ entry.subcategory }}">
    </p>
    <p>
      <label for="title">Title: </label>
      <input type="text" name="title" value="{{ entry.title }}">
    </p>
    <p>
      <label for="img">Image name(including file extension): </label>
      <input type="text" name="img" value="{{ entry.img }}">
    </p>
    <p>
      <label for="imgsrc">Image source: </label>
      <input type="text" name="imgsrc" value="{{ entry.imgsrc }}">
    </p>
    <br>
    <p class="text">
      <label for="markdown">Markdown: </label>
      <textarea type="text" name="markdown">{{ entry.markdown|safe }}</textarea>
    </p>
    <p>
      <label for="extra">Extra(used for different purposes): </label>
      <input type="text" name="extra" value="{{ entry.extra }}">
    </p>
    <p>
      <label for="date">Date must format as Mmm D YYYY(only for events): </label>
      <input type="text" name="date" value="{{ entry.date }}">
    </p>
    <p>
        <!--<a href="{{ request.route_url('home') }}#{{ entry.title }}">-->
          <input type="submit" name="Edit Entry" />
        <!--</a>-->
    </p>
  </form>

</section>

{% endblock %}
