{% extends 'base.jinja2' %}

{% block content %}
<div class="topimg_placeholder"></div>

<section class="markdown">
  <h3 class="entry-title">Add a New Entry:</h3>

  <form class="new_entry" method="POST">
    <p>
      <label for="page">Page: </label>
      <input type="text" name="page">
    </p>
    <p>
      <label for="category">Category: </label>
      <input type="text" name="category">
    </p>
    <p>
      <label for="subcategory">Subcategory: </label>
      <input type="text" name="subcategory">
    </p>
    <p>
      <label for="title">Title: </label>
      <textarea type="text" name="title">
    </p>
    <p>
      <label for="img">Image name(including file extension): </label>
      <input type="text" name="img">
    </p>
    <p>
      <label for="imgsrc">Image source: </label>
      <input type="text" name="imgsrc">
    </p>
    <br>
    <p class="text">
      <label for="markdown">Markdown: </label>
      <textarea type="text" name="markdown"></textarea>
    </p>
    <p>
      <label for="extra">Extra (used for different purposes): </label>
      <input type="text" name="extra">
    </p>
    <p>
      <label for="date">Date format as Mmm D YYYY<br>(only for events and message, but required for all... Leave as is): </label>
      <input type="text" name="date" value="Jan 1 2000">
    </p>
    <br>
    <p>
      <input type="submit" name="Add Entry">
    </p>
  </form>
</section>

{% endblock %}
