{% extends "base.jinja2" %}

{% block title %}Events{% endblock %}

{% block content %}

  <div class="topimg_placeholder"></div>
  {% if topimg.img %}
    <div>
      <img
        class="{{ topimg.category }}"
        src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ topimg.img }}"
        alt="{{ topimg.title }}">

    </div>
  {% endif %}
  {% if main %}
    {% for item in main %}
      {% if item.title == 'menu_place_holder' %}
        <center>
          <h1>{{ item.subcategory }}</h1>
        </center>
      {% elif item.category == 'topimg' %}

      {% else %}
        {% if events %}
          {% for event in events %}
            {% if auth %}
              {% if auth_tools %}
                {% for img in auth_tools[0].img.split(' ') %}
                  <a href="{{request.route_url('home')}}entry/{{ event.id }}/{{ img.split('.')[0] }}-entry">
                    <img id="{{ img.split('.')[0] }}"
                      src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ img }}">
                  </a>
                {% endfor %}
              {% endif %}

            {% endif %}
            {% if event.imgsrc %}
              <a href="{{ event.imgsrc }}">
                <div class="event">
                  <img src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ event.img }}" alt="{{ event.title }}">
                  <p>{{ event.extra|safe }}</p>
                  <h2>{{ event.title|safe }}</h2>

                </div>
              </a>
              <hr style="background: lightgrey; width: 90%">
            {% else %}
              <div class="event">
                <img src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ event.img }}" alt="{{ event.title }}">
                <p>{{ event.extra|safe }}</p>
                <h2>{{ event.title|safe }}</h2>

              </div>
              <hr style="background: lightgrey; width: 90%">
            {% endif %}


          {% endfor %}
        {% endif %}

        <div class="markdown">
          {% if item.title == 'Google Calendar' %}
            <center>
              <h2>{{ item.markdown | safe }}</h2>

            </center>
          {% endif %}
          {% if item.img %}
            <center><img src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ item.img }}" alt="{{ item.title }}"></center>
          {% endif %}
        </div>
      {% endif %}

    {% endfor %}
  {% endif %}
{% endblock content %}
