{% extends "base.jinja2" %}

{% block title %}Events{% endblock %}

{% block content %}

  <div class="topimg_placeholder"></div>
  {% if topimg.img %}
    <div>
      <img
        class="{{ topimg.category }}"
        src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ topimg.img }}"
        alt="{{ topimg.title }}">

    </div>
  {% endif %}
  {% if main %}
    {% for item in main %}
      {% if item.title == 'menu_place_holder' %}
        <center>
          <h1>{{ item.subcategory }}</h1>
        </center>
      {% elif item.category == 'topimg' %}

      {% else %}
        <div class="markdown">
          {% if item.title == 'Google Calendar' %}
            <center>
              <iframe
                class="calendar"
                src="https://calendar.google.com/calendar/htmlembed?title=NWCC+Life&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=bob97ghmfr9fpm7iqpv6t0fl1c@group.calendar.google.com&amp;color=%23856508&amp;ctz=America/Los_Angeles">
              </iframe>
            </center>
          {% endif %}
          {% if item.img %}
            <center><img src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ item.img }}" alt="{{ item.title }}"></center>
          {% endif %}
        </div>
      {% endif %}

    {% endfor %}
  {% endif %}
{% endblock content %}
