{% extends "base.jinja2" %}

{% block title %}Events{% endblock %}

{% block content %}

  <div class="topimg_placeholder"></div>
  {% if events %}
    <div class="welcomecontainer">
      <ul class="gallery" id="slider">
        <!--
          <li><img class="mySlides welcomeimg" src="https://drive.google.com/uc?id=1bLM8r3SM_NQXmwFFSwS0SZQqK5tZpyRZ" alt="Welcome to Northwest Community Church - Love boldy" /></li>
          <li><img class="mySlides welcomeimg" src="https://drive.google.com/uc?id=1LfopoCfcOvct0FyLJ0gs3WIZMEXMvn-K" alt="Welcome to Northwest Community Church - Love boldy" /></li>
        -->

        {% for item in events %}
          {% if item.imgsrc %}
            <li><img class="mySlides welcomeimg" src="{{ item.imgsrc | replace("open", "uc") }}" alt="Welcome to Northwest Community Church - Love boldy" /></li>
          {% endif %}

        {% endfor %}
      </ul>
    </div>
  {% endif %}


  {% if topimg.img %}
    <div>
      <img
        class="{{ topimg.category }}"
        src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ topimg.img }}"
        alt="{{ topimg.title }}">

    </div>
  {% endif %}

  {% if main %}

    {% if main.title == 'menu_place_holder' %}
      <center>
        <h1>{{ main.subcategory }}</h1>
      </center>
    {% elif item.category == 'topimg' %}

    {% endif %}
  {% endif %}

  {% if events %}
    {% for event in events %}
      {% if auth %}
        {% if auth_tools %}
          {% for img in auth_tools[0].img.split(' ') %}
            <a href="{{request.route_url('home')}}entry/{{ event.id }}/{{ img.split('.')[0] }}-entry">
              <img id="{{ img.split('.')[0] }}"
                src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ img }}">
            </a>
          {% endfor %}
        {% endif %}

      {% endif %}
      {% if event.imgsrc %}
        <a href="{{ event.imgsrc }}" target="_blank">
          <div class="event">
            <img src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ event.img }}" alt="{{ event.title }}">
            <p>{{ event.extra|safe }}</p>
            <h2>{{ event.title|safe }}</h2>

          </div>
        </a>
        <hr style="background: lightgrey; width: 90%">
      {% else %}
        <div class="event">
          <img src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ event.img }}" alt="{{ event.title }}">
          <p>{{ event.extra|safe }}</p>
          <h2>{{ event.title|safe }}</h2>

        </div>
        <hr style="background: lightgrey; width: 90%">
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if goog %}

    <div class="markdown">
      {% if goog.title == 'Google Calendar' %}
        <center>
          <h2>{{ goog.markdown | safe }}</h2>

        </center>
      {% endif %}
      {% if goog.img %}
        <center><img src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ goog.img }}" alt="{{ goog.title }}"></center>
      {% endif %}
    </div>

  {% endif %}

{% endblock content %}
