{% extends "base.jinja2" %}

{% block title %}Foobank{% endblock %}

{% block content %}

  {% if topimg %}
    <div>
      <img
        class="{{ topimg.category }}"
        src="{{request.static_url('nwcc_pyramid:static/')}}{{ topimg.img }}"
        alt="{{ topimg.title }}">
      
    </div>
  {% endif %}
  {% if main %}
    {% for item in main %}
      {% if item.title == 'menu_place_holder' %}
        <center>
          <h1 class="markdown">{{ item.subcategory }}</h1>
        </center>
      {% else %}
        <div class="markdown">
          {% if item.img %}
            <img src="{{request.static_url('nwcc_pyramid:static/')}}{{ item.img }}" alt="{{ item.title }}">
          {% endif %}
          <h3>{{ item.title }}</h3>
          {{ item.markdown|safe }}
        </div>
      {% endif %}

    {% endfor %}
  {% endif %}
{% endblock content %}
