{% extends "base.jinja2" %}

{% block title %}Foursquare{% endblock %}

{% block content %}
<div class="topimg_placeholder"></div>
<div class="topimg_placeholder"></div>
  {% if topimg %}
    <div>
      <img
        class="{{ topimg.category }}"
        src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ topimg.img }}"
        alt="{{ topimg.title }}">
      <div class="imgtitle">
        <h1><a href="" class="dropdown2" onclick="return false;">{{ main[0].subcategory }}<div class="arrow-down"></div></a></h1>
        {% if submenu %}
          <ul class="sublinks hidden dropdown-content2">
          {% for item in submenu %}
            {% if item.subcategory %}

              <li><a href="{{request.route_url('home')}}{{ item.extra }}">{{ item.subcategory }}</li></a><hr>
            {% endif %}
          {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  {% endif %}
  {% if main %}
    {% for item in main %}
      {% if item.title == 'menu_place_holder' %}
        <center>
          <h1 class="markdown">{{ item.subcategory }}</h1>
        </center>
      {% else %}
        <div class="markdown">
          {% if item.img %}
            <img src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ item.img }}" alt="{{ item.title }}">
          {% endif %}
          <h3>{{ item.title }}</h3>
          {{ item.markdown|safe }}
        </div>
      {% endif %}

    {% endfor %}
  {% endif %}
{% endblock content %}
