{% extends "base.jinja2" %}

{% block title %}Giving{% endblock %}

{% block content %}
<div class="topimg_placeholder"></div>
  {% if topimg %}
    <div>
      <img
        class="{{ topimg.category }}"
        src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ topimg.img }}"
        alt="{{ topimg.title }}">

    </div>
  {% endif %}
  {% if main %}
    {% for item in main %}
      {% if item.title == 'menu_place_holder' %}
        <center>
          <h1 class="markdown">{{ item.subcategory }}</h1>
        </center>
      {% elif item.category == 'topimg' %}

      {% else %}
        <div class="markdown">

          <h3>{{ item.title }}</h3>
          {{ item.markdown|safe }}
          {% if item.img %}
            <center><img src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ item.img }}" alt="{{ item.title }}"></center>
          {% endif %}
        </div>
        <hr style="background: lightgrey; width: 90%">
      {% endif %}

    {% endfor %}
  {% endif %}
{% endblock content %}
