{% extends "base.jinja2" %}

{% block title %}Giving{% endblock %}

{% block content %}

  {% if topimg %}
    <div>
      <img
        class="{{ topimg.category }}"
        src="{{request.static_url('nwcc_pyramid:static/')}}{{ topimg.img }}"
        alt="{{ topimg.title }}">
      <div class="imgtitle">
        <h1>{{ main[0].subcategory }}</h1>
        {% if submenu %}
          <ul class="sublinks hidden dropdown-content2">
          {% for item in submenu %}
            {% if item.subcategory %}

              <li><a href="{{request.route_url('home')}}{{ item.extra }}">{{ item.subcategory }}</li></a><hr>
            {% endif %}
          {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  {% endif %}
  {% if main %}
    {% for item in main %}
      {% if item.title == 'menu_place_holder' %}
        <center>
          <h1 class="markdown">{{ item.subcategory }}</h1>
        </center>
      {% elif item.category == 'topimg' %}

      {% else %}
        <div class="markdown">
          {% if item.img %}
            <center><img src="{{request.static_url('nwcc_pyramid:static/')}}{{ item.img }}" alt="{{ item.title }}"></center>
          {% endif %}
          <h3>{{ item.title }}</h3>
          {{ item.markdown|safe }}
        </div>
      {% endif %}

    {% endfor %}
  {% endif %}
{% endblock content %}
