{% extends "base.jinja2" %}


{% block content %}
  <img class="topimg" src="{{request.static_url('nwcc_pyramid:static/img_2146.jpg')}}" alt="">
  <div class="tri">
    <img class="tricontent triimg" src="{{request.static_url('nwcc_pyramid:static/IMG_2076.jpg')}}" alt="">
    <img class="tricontent triimg" src="{{request.static_url('nwcc_pyramid:static/IMG_2157.jpg')}}" alt="">
    <img class="tricontent triimg" src="{{request.static_url('nwcc_pyramid:static/IMG_2164.jpg')}}" alt="">
  </div>
  <div class="tri">
    <div class="tricontent">
      <div>
        <b>Join us on Sundays at 10am<br>
        NorthWest Community Church<br></b>
        10402 Kline St SW<br>
        at the HOPE Center<br>
        Lakewood, WA   98499<br>
        (253) 926-2528<br>
        nwrabbi@comcast.net
      </div>
      <div style="border:1px solid #717171; width:278px; height:150px;" class="space_before">
							<img src="https://maps.googleapis.com/maps/api/staticmap?center=10402+Kline+St+SW,Lakewood,WA&amp;zoom=12&amp;size=278x150&amp;markers=color:blue|10402+Kline+St+SW,Lakewood,WA&amp;maptype=roadmap&amp;sensor=false&amp;key=AIzaSyAWz4naVapxCeD9t8gsPg9B62d8YtGV8fs" border="0">
						</div>
    </div>
    <div class="tricontent">

    </div>
    <div class="tricontent smaller">
      <div>
        How would you like the opportunity for a new beginning? Fresh starts don't begin with a change of circumstances- a new job, new location, or new relationship- they begin with a change of heart. God specializes in clean slates and fresh states. We invite you to join us as we discover ways to live the rest of our lives the best they can be!<br><br>
        EVERY SUNDAY MORNING AT 10:00AM<br><br>
        <ul>
          <li>Nursery, Children's and Teen Programs<br></li>
          <li>Contemporary worship, Messages for "everyday" life<br></li>
          <li>Life Groups, Celebrate Recovery, and Bible Studies<br></li>
          <li>Coffee and Starbuck's goodies every Sunday</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
