{% extends "base.jinja2" %}

{% block title %}Northwest Community Church - Love Boldly{% endblock %}

{% block content %}
  <h2>Hello World</h2>
  <img src="https://weloveboldly.files.wordpress.com/2018/04/img_2146.jpg" style="max-width: 100%;" alt="">
{% endblock %}
