{
  "page": "",
  "category": "",
  "subcategory": "",
  "title": "",
  "img": "",
  "imgsrc": "",
  "markdown": "",
  "extra": "",
},
<div class="tri">
  {% for item in tri_img %}
      <img
        class="tricontent {{ item.category }}"
        src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ item.img }}"
        alt="{{ item.title }}">
  {% endfor %}
</div>
<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <meta name="description" content="Northwest Community Church We Love Boldly." />
      <meta name="keywords" content="all the keywords separated by comas">
      <meta charset="utf-8">
      <link href="{{request.static_url('nwcc_pyramid:static/images/theme.css')}}" rel="stylesheet">
      <link rel="shortcut icon" href="{{request.static_url('nwcc_pyramid:static/images/nwcc_logo_color.png')}}" type="image/x-icon">

      <title>NWCC</title>
    {% endblock %}
  </head>
  <body>

  </body>
</html>
<h2></h2>
<img src="" alt="">
<header>

</header>

<nav>

</nav>
<footer></footer>
<li></li>


<li id="about"><a href="{{request.route_url('about')}}">ABOUT US</a></li>
<li id="events"><a href="{{request.route_url('events')}}">EVENTS</a></li>
<li id="ministries"><a href="{{request.route_url('ministries')}}">MINISTRIES</a></li>
<li id="service"><a href="{{request.route_url('service')}}">SUNDAY SERVICE</a>
  <ul>
    <li>THE MESSAGE</li>
    <li>SUNDAY PROGRAM</li>
    <li>HANDOUT</li>
  </ul>
</li>
<li id="giving"><a href="{{request.route_url('giving')}}">GIVING</a></li>


<center>
<ul class="gallery" id="slider">
  <li><img class="mySlides" src="{{request.static_url('nwcc_pyramid:static/images/img_2146.jpg')}}" alt=""></li>
  <li><img class="mySlides" id="size" src="{{request.static_url('nwcc_pyramid:static/images/logo.png')}}" alt=""></li>
  <li><img class="mySlides" src="{{request.static_url('nwcc_pyramid:static/images/the_club.jpg')}}" alt="NWCC @ the Hope Center B&GC Lakewood"></li>
</ul>
</center>
<div class="">

</div>

<form class="" action="index.html" method="post">
<input type="text" name="" value="">
</form>

--------------------------------home---------------------------
<center>
  <div class="tri">
    <div class="program markdown">
      <img src="{{request.static_url('nwcc_pyramid:static/images/4-29-18Program_1st.jpg')}}" alt="">
    </div>
    <div class="program markdown">
      <img src="{{request.static_url('nwcc_pyramid:static/images/4-29-18Program_2nd.jpg')}}" alt="">
    </div>
  </div>
</center>
<center class="markdown">
  <iframe
    class="calendar"
    src="https://calendar.google.com/calendar/htmlembed?title=NWCC+Life&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=bob97ghmfr9fpm7iqpv6t0fl1c@group.calendar.google.com&amp;color=%23856508&amp;ctz=America/Los_Angeles">
  </iframe>
</center>

<div class="tri">
    {% for item in tri_info %}
      <div class="tricontent {{ item.subcategory }}">
        <div>
          {{ item.title | safe }}
        </div>
        <div>
          {{ item.markdown | safe }}
        </div>
        {% if item.subcategory == 'first_tri_info' %}
        <center>
          <div>
            <img
            src="{{ item.imgsrc }}"
            alt="{{ item.markdown }}"
            style="border:1px solid #717171;">
          </div>
        </center>
        {% endif %}
        <div>
          {{ item.extra | safe }}
        </div>
      </div>
    {% endfor %}
</div>

-----------------------------end home--------------------------
------------------------------n with steps---------------------
<div class="overlay hidden">
  <center>
    <div class="overlaygroup">

      <a id="logo" href="" onclick="return false;">
        <img src="{{request.static_url('nwcc_pyramid:static/images/overlay_logo.png')}}"
          alt="{{ topimg.title }}"></a>
    </div>
  </center>
</div>

{% if auth %}

{% endif %}
<div class="topimg_placeholder"></div>

  {% for step in steps %}
    {% if step.subcategory == 'title' %}
      <center>
        <h1 class="{{ step.subcategory }}">{{ step.title }}</h1>
      </center>

    <div id="steps2_5" class="steps_container">
    {% elif step.subcategory == 'step2' or step.subcategory == 'step5' %}
        <div id="{{ step.subcategory }}" class="{{ step.category }} {{ step.subcategory }}">
          <h1 class="{{ step.subcategory }}">{{ step.title }}</h1>

          <p>{{ step.markdown|safe }}</p>
        </div>
        {% if step.subcategory == 'step2' %}
        {% endif %}
    {% endif %}
  {% endfor %}
</div>
<div class="steps_container">

  {% for step in steps %}
    {% if step.subcategory == 'step3' %}
      <center>
        <div id="{{ step.subcategory }}" class="{{ step.category }}">
          <h1 class="{{ step.subcategory }}">{{ step.title }}</h1>

          <p>{{ step.markdown|safe }}</p>
        </div>
      </center>
    {% endif %}
  {% endfor %}
</div>
{% for step in steps %}
  {% if step.subcategory == 'logo_large' %}
    <center>
      <div class="{{ step.subcategory }}">
        <img
          src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ step.img }}"
          alt="{{ step.extra }}">
      </div>
    </center>
    {% endif %}
{% endfor %}
<div id="steps1_4" class="steps_container">
  {% for step in steps %}


    {% if step.subcategory == 'step1' or step.subcategory == 'step4' %}
      <div id="{{ step.subcategory }}" class="{{ step.category }} {{ step.subcategory }}">
        <h1 class="{{ step.subcategory }}">{{ step.title }}</h1>

        <p>{{ step.markdown|safe }}</p>
      </div>
      {% if step.subcategory == 'step1' %}
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
--------------------end home-------------------------------------------
