{
  "page": "",
  "category": "",
  "subcategory": "",
  "title": "",
  "img": "",
  "imgsrc": "",
  "markdown": "",
  "extra": "",
},
<div class="tri">
  {% for item in tri_img %}
      <img
        class="tricontent {{ item.category }}"
        src="{{request.static_url('nwcc_pyramid:static/')}}{{ item.img }}"
        alt="{{ item.title }}">
  {% endfor %}
</div>
<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <meta name="description" content="Northwest Community Church We Love Boldly." />
      <meta name="keywords" content="all the keywords separated by comas">
      <meta charset="utf-8">
      <link href="{{request.static_url('nwcc_pyramid:static/theme.css')}}" rel="stylesheet">
      <link rel="shortcut icon" href="{{request.static_url('nwcc_pyramid:static/nwcc_logo_color.png')}}" type="image/x-icon">

      <title>NWCC</title>
    {% endblock %}
  </head>
  <body>

  </body>
</html>
<h2></h2>
<img src="" alt="">
<header>

</header>

<nav>

</nav>
<footer></footer>
<li></li>


<li id="about"><a href="{{request.route_url('about')}}">ABOUT US</a></li>
<li id="events"><a href="{{request.route_url('events')}}">EVENTS</a></li>
<li id="ministries"><a href="{{request.route_url('ministries')}}">MINISTRIES</a></li>
<li id="service"><a href="{{request.route_url('service')}}">SUNDAY SERVICE</a>
  <ul>
    <li>THE MESSAGE</li>
    <li>SUNDAY PROGRAM</li>
    <li>HANDOUT</li>
  </ul>
</li>
<li id="giving"><a href="{{request.route_url('giving')}}">GIVING</a></li>


<center>
<ul class="gallery" id="slider">
  <li><img class="mySlides" src="{{request.static_url('nwcc_pyramid:static/img_2146.jpg')}}" alt=""></li>
  <li><img class="mySlides" id="size" src="{{request.static_url('nwcc_pyramid:static/logo.png')}}" alt=""></li>
  <li><img class="mySlides" src="{{request.static_url('nwcc_pyramid:static/the_club.jpg')}}" alt="NWCC @ the Hope Center B&GC Lakewood"></li>
</ul>
</center>
<div class="">

</div>
