{% extends "base.jinja2" %}

{% block title %}I'm New{% endblock %}

{% block content %}

  {% if topimg %}
    <div>
      <img
        class="{{ topimg.category }}"
        src="{{request.static_url('nwcc_pyramid:static/')}}{{ topimg.img }}"
        alt="{{ topimg.title }}">
      <div class="markdown imgtitle">
        <h1><a href="" class="dropdown2" onclick="return false;">{{ main.subcategory }}<div class="arrow-down"></div></a></h1>
        {% if submenu %}
          <ul class="sublinks hidden dropdown-content2">
          {% for item in submenu %}
            {% if item.subcategory %}

              <li><a href="{{request.route_url('home')}}{{ item.extra }}">{{ item.subcategory }}</li></a><hr>
            {% endif %}
          {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  {% endif %}
  {% if main %}

    <div class="markdown">
      <center>
        <h1>{{ main.title }}</h1>
      </center>
      {{ main.markdown|safe }}
    </div>
  {% endif %}
{% endblock %}
