{% extends "base.jinja2" %}

{% block title %}Love boldy means{% endblock %}

{% block content %}
  <div class="topimg_placeholder"></div>
  <img id="lbmeans" src="{{request.static_url('nwcc_pyramid:static/images/lbmeans.png')}}">
{% endblock content %}
