{% extends "base.jinja2" %}

{% block title %}Message{% endblock %}

{% block content %}
<div class="topimg_placeholder"></div>

  {% if topimg %}
    <div>
      <img
        class="{{ topimg.category }}"
        src="{{request.static_url('nwcc_pyramid:static/')}}{{ topimg.img }}"
        alt="{{ topimg.title }}">

    </div>
  {% endif %}
  {% if quad_info %}
    <div class="quad-container">
      {% for item in quad_info %}
        <a class="quad" href="{{request.route_url('home')}}{{ item.extra }}">
          <div class="{{ item.subcategory }}"><h2>{{ item.title | safe }}</h2></div>
        </a>

      {% endfor %}

    </div>
  {% endif %}
  {% if title %}
    <center>

        <h1>{{ title.title | safe }}</h1>
        <div class="podcast">
          <a href="{{ title.extra }}">
            <img
              class="pcastimg"
              src="{{request.static_url('nwcc_pyramid:static/')}}{{ title.img }}">
            <h3 class="pcast_title">{{ title.markdown | safe }}</h3>
          </a>
        </div>
    </center>
  {% endif %}
  {% if main %}
    {% for item in main %}
        <div class="audio">
          {% if item.img %}
            <a href="{{ item.extra }}" target="_blank">
              <img
                class="single"
                src="{{request.static_url('nwcc_pyramid:static/')}}{{ item.img }}">
                <h3 class="audio_title">{{ item.title | safe }}</h3>
            </a>
          {% endif %}
          <div class="audio_info">{{ item.markdown|safe }}</div>
        </div>
        <hr style="background: lightgrey; width: 80%;">
    {% endfor %}
  {% endif %}
{% endblock content %}
