{% extends "base.jinja2" %}

{% block title %}Message{% endblock %}

{% block content %}
  <div class="topimg_placeholder"></div>

  {% if topimg %}
    <div>
      <img
        class="{{ topimg.category }}"
        src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ topimg.img }}"
        alt="{{ topimg.title }}">

    </div>
  {% endif %}

  {% if quad_info %}
    <div class="quad-container">
      {% for item in quad_info %}
        <a class="quad" href="{{request.route_url('home')}}{{ item.extra }}">
          <div class="{{ item.subcategory }}"><h2>{{ item.title | safe }}</h2></div>
        </a>

      {% endfor %}

    </div>
  {% endif %}

  {% if title %}
    <center>

        <h1>{{ title.title | safe }}</h1>
        <!-- <div class="podcast">
          <a href="{{ title.extra }}">
            <img
              class="pcastimg"
              src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ title.img }}">
            <h3 class="pcast_title">{{ title.markdown | safe }}</h3>
          </a>
        </div> -->
    </center>
  {% endif %}

  <center>
    <div id="searchform">
      <form class="" action="search" method="post">
        <input id="searchinput" type="text" name="search" maxlength="42" value="" required pattern="(.){4,42}" title="You must use four or more characters">
        <input id="searchsubmit" type="submit" value="Search"}>
      </form>
    </div>
  </center>

  {% if main %}
    {% for item in main %}

      {% if auth %}
        {% if auth_tools %}
          {% for img in auth_tools[0].img.split(' ') %}
            <a href="{{request.route_url('home')}}entry/{{ item.id }}/{{ img.split('.')[0] }}-entry">
              <img id="{{ img.split('.')[0] }}"
                src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ img }}">
            </a>
          {% endfor %}
        {% endif %}

      {% endif %}

      <div class="audio">
        <center>
          <h3 class="audio_title">{{ item.title | safe }}</h3>
          <div class="audio_info">{{ item.markdown|safe }}</div>
        </center>

        {% if item.img %}
          <center>
            {% if item.extra.split(' ')[0] %}
              <a href="{{ item.extra.split(' ')[0] }}" target="_blank">
                <img
                  class="single"
                  src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ item.img.split(' ')[0] }}">

              </a>
            {% endif %}

            {% if item.extra.split(' ')[1] %}
              <a href="{{ item.extra.split(' ')[1] }}" target="_blank">
                <img
                  class="program"
                  src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ item.img.split(' ')[1] }}">

              </a>
            {% endif %}

            {% if item.extra.split(' ')[2] %}
              <a href="{{ item.extra.split(' ')[2] }}" target="_blank">
                <img
                  class="single"
                  src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ item.img.split(' ')[2] }}">

              </a>
            {% endif %}
          </center>
        {% endif %}
      </div>

      <hr style="background: lightgrey; width: 80%;">
    {% endfor %}
  {% endif %}
{% endblock content %}
