<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
   <channel>
      <title>Love boldly Message Podcast</title>
      <description>Northwest Community Church - Love boldy - Sunday Message</description>
      <link>https://weloveboldly.com/</link>

      <item>
         <guid>https://drive.google.com/open?id=1asGA4oGCsFxJuHdBqzOhdYDKGJSYYHnC</guid>
         <link>https://drive.google.com/open?id=1asGA4oGCsFxJuHdBqzOhdYDKGJSYYHnC</link>
         <title>The Door of the Throne Room</title>
         <description>Pastor Mary</description>
         <pubDate>Sun, 22 Jul 2018 11:00:00 -0000</pubDate>
         <enclosure url="https://drive.google.com/open?id=1asGA4oGCsFxJuHdBqzOhdYDKGJSYYHnC" type="audio/mpeg" length="0"/>
      </item>

 </channel>
</rss>
