{% extends "base.jinja2" %}

{% block title %}Sunday Mornings{% endblock %}

{% block content %}
<div class="topimg_placeholder"></div>
  {% if topimg %}
  <center>
    <div>
      <img
        id="sundaytopimg"
        class="{{ topimg.category }}"
        src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ topimg.img }}"
        alt="{{ topimg.title }}">

    </div>
  </center>
  {% endif %}
  {% if quad_info %}
    <div id="sundayqc" class="quad-container">
      {% for item in quad_info %}
        {% if auth %}

          <div class="{{ item.subcategory }}tools">
            {% if auth_tools %}
              {% for img in auth_tools[0].img.split(' ') %}
                <a href="{{request.route_url('home')}}entry/{{ item.id }}/{{ img.split('.')[0] }}-entry">
                  <img id="{{ img.split('.')[0] }}" class="quad{{ img.split('.')[0] }}"
                    src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ img }}">
                </a>
              {% endfor %}
            {% endif %}
          </div>
        {% endif %}
        <a class="quad" href="{{request.route_url('home')}}{{ item.extra }}">
          <div class="{{ item.subcategory }}sunday"><h2>{{ item.title | safe }}</h2></div>
        </a>

      {% endfor %}

    </div>
  {% endif %}
  {% if main %}
    <center>
      <div class="markdown">
        {% if auth %}
          {% if auth_tools %}
            {% for img in auth_tools[0].img.split(' ') %}
              <a href="{{request.route_url('home')}}entry/{{ main.id }}/{{ img.split('.')[0] }}-entry">
                <img id="{{ img.split('.')[0] }}"
                  src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ img }}">
              </a>
            {% endfor %}
          {% endif %}

        {% endif %}
        <h2>{{ main.title|safe }}</h2>
        {{ main.markdown|safe }}
      </div>
    </center>
  {% endif %}
{% endblock content %}
