{% extends "base.jinja2" %}

{% block title %}Worship{% endblock %}

{% block content %}
<div class="topimg_placeholder"></div>

  {% if topimg %}
    <div>

      <img
        id="sundaytopimg"
        class="{{ topimg.category }}"
        src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ topimg.img }}"
        alt="{{ topimg.title }}">
      <center>
        {% if auth %}
          {% if auth_tools %}
            {% for img in auth_tools[0].img.split(' ') %}
              <a href="{{request.route_url('home')}}entry/{{ topimg.id }}/{{ img.split('.')[0] }}-entry">
                <img id="{{ img.split('.')[0] }}"
                  src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ img }}">
              </a>
            {% endfor %}
          {% endif %}

        {% endif %}
      </center>

    </div>
  {% endif %}
  {% if quad_info %}
    <div class="quad-container">
      {% for item in quad_info %}
        <a class="quad" href="{{request.route_url('home')}}{{ item.extra }}">
          <div class="{{ item.subcategory }}"><h2>{{ item.title | safe }}</h2></div>
        </a>

      {% endfor %}

    </div>
  {% endif %}
  {% if title %}
    <center>
      <div class="markdown">
        {% if auth %}
          {% if auth_tools %}
            {% for img in auth_tools[0].img.split(' ') %}
              <a href="{{request.route_url('home')}}entry/{{ title.id }}/{{ img.split('.')[0] }}-entry">
                <img id="{{ img.split('.')[0] }}"
                  src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ img }}">
              </a>
            {% endfor %}
          {% endif %}

        {% endif %}
        <h1>{{ title.title | safe }}</h1>
      </div>
      <div class="podcast">
        <a href="{{ title.extra }}">
          <img
            class="spotimg"
            src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ title.img }}">
          <h3 class="spotify_title">{{ title.markdown | safe }}</h3>
        </a>
      </div>
    </center>
  {% endif %}

{% endblock content %}
