{% extends "base.jinja2" %}

{% block title %}Worship{% endblock %}

{% block content %}
<div class="topimg_placeholder"></div>

  {% if topimg %}
    <div>
      <img
        id="sundaytopimg"
        class="{{ topimg.category }}"
        src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ topimg.img }}"
        alt="{{ topimg.title }}">

    </div>
  {% endif %}
  {% if quad_info %}
    <div class="quad-container">
      {% for item in quad_info %}
        <a class="quad" href="{{request.route_url('home')}}{{ item.extra }}">
          <div class="{{ item.subcategory }}"><h2>{{ item.title | safe }}</h2></div>
        </a>

      {% endfor %}

    </div>
  {% endif %}
  {% if title %}
    <center>
      <div class="markdown">
        <h1>{{ title.title | safe }}</h1>
      </div>
      <div class="podcast">
        <a href="{{ title.extra }}">
          <img
            class="spotimg"
            src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ title.img }}">
          <h3 class="spotify_title">{{ title.markdown | safe }}</h3>
        </a>
      </div>
    </center>
  {% endif %}
  {% if main %}
    <center>
      <h3>{{ main.title | safe }}</h3>
      {% if main.img %}
        <img
          class="single_img"
          src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ main.img }}">
      {% endif %}
    </center>
  {% endif %}
{% endblock content %}
