{% extends "base.jinja2" %}

{% block title %}Youth & Kids{% endblock %}

{% block content %}
<div class="topimg_placeholder"></div>

  {% if topimg %}
    <div>
      <img
        class="{{ topimg.category }}"
        src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ topimg.img }}"
        alt="{{ topimg.title }}">

    </div>
  {% endif %}
  {% if quad_info %}
    <div class="quad-container">
      {% for item in quad_info %}
        <a class="quad" href="{{request.route_url('home')}}{{ item.extra }}">
          <div class="{{ item.subcategory }}"><h2>{{ item.title | safe }}</h2></div>
        </a>

      {% endfor %}

    </div>
  {% endif %}
  {% if main %}
    <center>
      <div class="markdown">
        {% if auth %}
          {% if auth_tools %}
            {% for img in auth_tools[0].img.split(' ') %}
              <a href="{{request.route_url('home')}}entry/{{ main.id }}/{{ img.split('.')[0] }}-entry">
                <img id="{{ img.split('.')[0] }}"
                  src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ img }}">
              </a>
            {% endfor %}
          {% endif %}

        {% endif %}<br>
        <h2>{{ main.title }}</h2>
        {{ main.markdown|safe }}
      </div>
      {% if main.img %}
        <img

          src="{{request.static_url('nwcc_pyramid:static/images/')}}{{ main.img }}">
      {% endif %}
    </center>
  {% endif %}
{% endblock content %}
